{% extends 'base.html.twig' %}
{% block body %}
	<div>
		<img src="{{program.poster}}" alt="image de la série">
		<div class="episode-show">
			<h3>{{program.title}}</h5>

			<h4>
				Saison
				{{ season.number }}
			</h4>
			<h4>
				Episode
				{{ episode.number }}
				:
				{{ episode.title }}
			</h4>

			<h4>Résumé :</h4>
			<p>
				{{ episode.synopsis }}
			</p>
		</div>
		<div class="comments">


			<h4>Tous les commentaires de l'épisode :
				{{ episode.title }}
			</h4>
			<pre>
			
			</pre>
			{% for comment in comments %}

				<p>{{ comment.comment }}</p>
				<span>{{ comment.rate }}</span>


			{% else %}

				<p>pas de commentaires pour cet épisode</p>

			{% endfor %}
			<h4>Ecrire un commentaire
			</h4>
			{% if app.user %}
				{% include "comment/_form.html.twig" %}
			{% endif %}

		</div>
	</div>
{% endblock %}
