{% extends 'base.html.twig' %}
{% block body %}
	<div>
		<img src="{{program.poster}}" alt="image de la série">
		<div class="episode-show">
			<h2>{{program.title}}</h2>

			<h4>
				SAISON
				{{ season.number }}
			</h4>
			<h4>
				Episode 
				{{ episode.number }}
				-
				{{ episode.title }}
			</h4>

			<h4>RESUME</h4>
			<p>
				{{ episode.synopsis }}
			</p>
		</div>
		<div class="comments">


			<h4>COMMENTAIRES</h4>
			
			{% for comment in comments %}

				<p>{{ comment.comment }}</p>
				<span>{{ comment.rate }}</span>

				{% if is_granted("ROLE_CONTRIBUTOR") %}
    				<a href="{{ path('comment_edit', { 'id': comment.id} ) }}">Éditer</a>
					<a href="{{ path('comment_delete', { 'id': comment.id} ) }}">Supprimer</a>
				{% endif %}

			{% else %}

				<p>pas de commentaires pour cet épisode</p>

			{% endfor %}
			<h5>Ecrire un commentaire</h5>
			<div class="add-comment">
				
					{% if app.user %}
						{% include "comment/_form.html.twig" %}
					{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
