{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Retrouvez toutes vos séries :
	</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button>Recherche une série</button>
	{{ form_end(form) }}

	{% for program in programs %}
		<div class="programs-list">
			<div class="media">
				<h2 class="title-program">
					{{ program.title }}</h2>
				<img src="{{program.poster}}" alt="{{ program.title }} poster" width="180px">

				<h3>Catégorie :
					{{ program.category.name }}</h3>
				<p>{{ program.summary }}</p>
				{# Lien vers la fiche de la série : #}
				<a href="{{ path("program_show", { slug: program.slug }) }}">
					<button class="button">Voir la fiche
					</button>
				</a>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}

		<a href="{{ path('app_index') }}">
			<button class="button">
				Retour à l'accueil</button>
		</a>
		<a href="{{ path('program_new') }}">
			<button class="button">
				Nouvelle série</button>
		</a>
	{% endblock %}
