{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="programs-list">
		<div class="media">
	
		{% if is_granted("ROLE_USER") %}

        	<a href="{{ path('program_watchlist', {slug: program.slug})}}">
    			<i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
			</a>
			{# {{ dump(app.user.isInWatchlist(program)) }} #}
        {% endif %}

			<img src=" {{program.poster}} " alt="image de la série {{ program.title }} poster" width=" 180px">
			<div class="media-body">
				<h1>{{ program.title }}</h1>
				<p>{{ program.summary }}</p>
				<p>Catégorie :
					{{ program.category.name }}</p>


				{% for season in seasons %}
					<a href="{{ path("program_season_show", { slug: program.slug , season: season.id }) }}">
						<p>Saison
							{{season.number}}
							/ Année :
							{{season.year}}</p>
					</a>
				{% endfor %}
				<strong>Acteurs :</strong>
				<ul>
					{% for actor in program.actor %}
						<li>
							<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
						</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
				{% if is_granted("ROLE_ADMIN") %}

					<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Modifier</a>

				{% endif %}
			</div>

		</div>
	</div>

	<a href="{{ path('program_index') }}">
		<button class="button">
			Retour à la liste des programmes</button>
	</a>


{% endblock %}
